body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    margin: 0;
    height: 100vh;
}

canvas {
    background-color: white;
    display: block;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

button {
    cursor: pointer; 
}